*{
    margin:0;
    padding:0;
}
body{
    background-color: #faf3e1;
    font-family:plus-jakarta-sans, sans-serif;
  
    color:#222222;
}
nav{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border:#222222 solid 1px;
}
nav .logo{
    color: #FF6D1F;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
justify-content: space-between;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    font-weight: 500;
}
nav ul li a:hover{
    color: #FF6D1F;
}
nav ul li a.active{
    color: #FF6D1F;
}
nav .GetQuote{
    color:#222222;
    background-color: #FF6D1F;
    text-decoration: none;
    display:block;
    width: 110px;
    font-weight: 500;
    border:solid #FF6D1F 1px;
    padding:20px;
   margin-top:25px;

}
nav .menu-btn{
    display: none;
}
nav .menu-btn i{
    font-size: 24px;
    color: #222222;
    cursor: pointer;
}

nav .menu-btn i:hover{
    color: #FF6D1F;
}
nav .menu-btn.active i{
    color: #FF6D1F;
}
nav .menu-btn.active i:before{
    content: "\f00d";
}
nav .menu-btn.active i:after{
    content: "";
}


/*hero section*/
div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
div .hero{
    justify-content: space-between;
    align-items: center;
    margin: 150px;
    margin-left: 80px;
}
div  .hero .next-gen{
    font-size: 15px;
    color:#faf3e1;
    font-weight:bold;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #222222;
    border:solid #222222 1px;
    border-radius: 50px;
    width: 200px;
      text-transform: uppercase;
}
div .hero h1{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 600px;
}
div .hero h1 .highlight{
    color: #FF6D1F;
}
div .hero p{
    font-size: 18px;
    line-height: 1.5;
    width: 600px;
    margin-bottom: 20px;
}
div .hero span.hero-buttons{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
div .hero span.hero-buttons button{
    background-color: #FF6D1F;
    color: #222222;
    border: none;
    padding: 20px 40px;
    margin-left:15px;
    cursor: pointer;
    font-size: 20px;
    font-weight:300;
    border-radius: 7px;
}
div .hero span.hero-buttons button:hover{
    background-color: #e68856;
    opacity: 0.3;
}
div .hero span.hero-buttons button:last-child{
    background-color: #faf3e1;
    color: #222222;
    border: solid #222222 1px;
}
div .hero span.hero-buttons button:last-child:hover{
    background-color: #222222;
    color: #faf3e1;
}

div .hero img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.companylist{
    margin-bottom: 50px;
    border:#41403c solid 1px;
    padding:20px;
    height: 80px;
    width: 100%;
    align-items: center;
    background-color: #cdc6b6;
}
  .companylist ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-transform:uppercase;

}
.companylist ul li{
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color:rgb(74 71 58 / var(--tw-text-opacity, 1));
}
.OurServices{
    margin: 50px;
    margin-left: 50px;
    display:block;
}
.OurServices h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.OurServices p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    opacity: 0.8;
}
.OurServices .service-container{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}
.OurServices .service{
    display: block;
    margin-bottom: 40px;
    background-color: #222222;
    color: #faf3e1;
    padding: 20px;
}
OurServices .service img{

}
.OurServices .service h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.OurServices .service p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.OurServices .service a{
    text-decoration: none;
    color: #faf3e1;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.8;
    text-transform: uppercase;
}

.OurServices .service a:hover{
    opacity: 1;
}
.OurServices .service a:after{
    content: "→";
    margin-left: 5px;
}

.whychooseus{
    margin: 50px;
    margin-left: 50px;
    display:block;
}
.whychooseus h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  justify-content: center;
}
.whychooseus p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    opacity: 0.8;
}
.whychooseus .chooseus-container{
    display: block;
    justify-content: space-between;
    overflow-x: auto;
}

