*{
    margin:0;
    padding:0;
}
body{
    background-color: #faf3e1;
    font-family:plus-jakarta-sans, sans-serif;
  
    color:#222222;
}
nav{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30 40px;
    border:#222222 solid 1px;
}
nav .logo{
    color: #FF6D1F;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 20 30px;
justify-content: space-between;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    font-weight: 500;
}
nav ul li a:hover{
    color: #FF6D1F;
}
nav ul li a.active{
    color: #FF6D1F;
}
nav .GetQuote{
    color:#222222;
    background-color: #FF6D1F;
    text-decoration: none;
    display:block;
    width: 110px;
    font-weight: 500;
    border:solid #FF6D1F 1px;
    padding:20px;
   margin-top:25px;

}
nav .menu-btn{
    display: none;
}
nav .menu-btn i{
    font-size: 24px;
    color: #222222;
    cursor: pointer;
}

nav .menu-btn i:hover{
    color: #FF6D1F;
}
nav .menu-btn.active i{
    color: #FF6D1F;
}
nav .menu-btn.active i:before{
    content: "\f00d";
}
nav .menu-btn.active i:after{
    content: "";
}


/*hero section*/

div .hero{
    justify-content: space-between;
    align-items: center;
    margin: 150px;
    margin-left: 80px;
    display: flex;
}
.hero .hero-subsection{
    display: flex;
    flex-direction: column;
}

div .hero h1{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 600px;
    display: block;
}
div .hero h1 .highlight{
    color: #FF6D1F;
}
div .hero p{
    font-size: 18px;
    line-height: 1.5;
    width: 600px;
    margin-bottom: 20px;
}
div .hero .hero-buttons{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    
    margin-left: -90px;
}
div .hero span.hero-buttons button{
    background-color: #FF6D1F;
    color: #222222;
    border: none;
    padding: 20px 40px;
    margin-left:15px;
    cursor: pointer;
    font-size: 20px;
    font: weight 600px;
}

div .hero span.hero-buttons button:hover{
    background-color: #e68856;
    opacity: 0.3;
}
div .hero span.hero-buttons button:last-child{
    background-color: #faf3e1;
    color: #222222;
    border: solid #222222 1px;
}
div .hero span.hero-buttons button:last-child::after{
    margin-left: 10px;
    content: "→";
  container-type: inherit;
}

div .hero span.hero-buttons button:last-child:hover{
    background-color: #000000;
    color: #faf3e1;

}

div .hero img{
    width: 500px;
    height: 500px;
    object-fit: cover;
margin-left:30px;
}

.companylist{
    margin-bottom: 50px;
    border:#41403c solid 1px;
    padding:20px;
    height: 80px;
    width: 100%;
    align-items: center;
    background-color: #cdc6b6;
}
  .companylist ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-transform:uppercase;

}
.companylist ul li{
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color:rgb(74 71 58 / var(--tw-text-opacity, 1));
}

/*OurServices section*/

.OurServices{
    margin: 50px;
    margin-left: 50px;
    display:block;
}
.OurServices h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
}
.OurServices p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px;
    opacity: 0.8;
    margin-left: 20px;
}
.OurServices .service-container{
    display: flex;
    
    margin-bottom:30px ;
}
.OurServices .service-container .service{
    display: block;
    background-color: #222222;
    color: #faf3e1;
    padding: 20px;
    margin-left: 30px;
    border: #faf3e1 solid 1px;
    width: 900px;
    height:300px;
}
.OurServices .service-container .service img{
width:30px;
height: 30px;
padding: 20px;
border-radius: 60px;
margin-bottom: 10px;
}
.OurServices .service-container .service h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 25px;
}
.OurServices .service-container .service p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 60px;
    margin-left: 15px;
    color:#e1bfb2;
    opacity: 1;

}
.OurServices .service-container .service a{
    text-decoration: none;
    color: #f1e8e0;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.8;
    text-transform: uppercase;
    
    margin-left: 15px;
}

.OurServices .service a:hover{
    opacity: 1;
}
.OurServices .service a:after{
    content: "→";
    margin-left: 5px;
}

 .whychooseus{
    margin: 50px;
    margin-left: 90px;
    display:block;
}
.whychooseus h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  text-align: center;
  color: #FF6D1F;
}
.whychooseus  p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
    opacity: 0.8;
  text-align: center;
}
.whychooseus .chooseus-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.whychooseus .chooseus-container  .chooseus-item{
    display: block;
   width:320px;
}
.chooseus-container .chooseus-item img{
    width: 40px;
    height: auto;
    border-radius:30px ;
    margin-bottom: 20px;
}
.chooseus-container .chooseus-item h3{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.chooseus-item   p{
    text-align: left;

}

/*techweuse*/
.techweuse{
width: 100%;
margin-bottom: 50px;
}
.techweuse h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
  text-align: center;
  color: #FF6D1F;
}
.techweuse ul {
    list-style: none;
    display: flex;
    margin-left: 150px;

}
.techweuse ul li {
    margin-left: 40px;
    font-weight: 600;
    font-size: 15px;
    color: #7e7876;
   text-transform: uppercase;
}









 footer{
    background-color: #000000;

}
.footer-content{
   width:100%;
   height:315px;
display: flex;
flex-direction: row;
color:#e7562e
}
.footer-sectionabout  {
    display:flex;
    flex-direction: column;
    margin-right: 50px;
}
.footer-sectionabout h3{
    margin-top: 0px;
   margin-left: 70px;
  font-size:20x;
}
.footer-sectionabout p{
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #f7e6e2;
    margin-left: 70px;
    width: 250px;
    text-align: left;
}

.footer-sectionlinks{
     margin-top: 70px;
     margin-left: 20px;
     margin-right: 160px;
     color: aliceblue;
}
.footer-sectionlinks h3{
    font-size: 13px;
    text-transform:uppercase;
}
.footer-sectionlinks ul{
margin-top: 15px;
}
.footer-sectionlinks ul li{
    margin-top:10px;
    list-style: none;
  color:#ef8f74;
}
.footer-sectionlinks ul li a{
   color: #d9beb6;
    text-decoration: none;
    font-size: 13px;
    font-weight:700;
   text-transform:capitalize;
}

.footer-sectionlinks ul li a:hover{
    color: #e7562e;
}

.footer-sectionServices{
 color: aliceblue;
 margin-top: 69px;   

}
.footer-sectionServices h3 {
    margin-bottom: 15px;
    font-size: 13px;
    text-transform: uppercase;
}
.footer-sectionServices ul {
    list-style: none;
    
}
.footer-sectionServices ul  li{
    margin-top:10px;
    list-style: none;
  color:#ef8f74;
}

.footer-sectionServices ul li a{
    
   color: #d9beb6;
    text-decoration: none;
    font-size: 13px;
    font-weight:700;
   text-transform:capitalize;
}
 .footer-sectionServices ul li a:hover{
    color: #e7562e;
}
.footer-social {
     margin-top: 70px;
     margin-left: 120px;
     margin-right: 70px;
     color: aliceblue;
   
}

.footer-social h3{
    margin-bottom: 10px;
    font-size: 13px;
    text-transform: uppercase; 
   margin-left:70px;
}

.footer-social ul{
    list-style: none;
  display: flex;
  flex-direction:row ;
  justify-content:space-evenly;
  width:100%;
  margin-left:30px;
}
.footer-social  ul  li{
    margin-top:10px;
    list-style: none;
  color:#ef8f74;
  margin-left: 30px;

}

.footer-social ul li a{
    
   color: #d9beb6;
    text-decoration: none;
    font-size: 13px;
    font-weight:700;
   text-transform:capitalize;
}
 .footer-social ul li a:hover{
    color: #e7562e;
}

.footer-bottom{
    display: block;
    width: 90%;
 margin-left:30px;
}
.footer-bottom ul{
    display: flex;
    flex-direction: row;
   justify-content: center;
   list-style: none;
}
.footer-bottom ul li {
    margin-left: 20px;
  color:#ef8f74;
  margin-bottom: 30px;
}

.footer-bottom ul li a{
    
   color: #d9beb6;
    text-decoration: none;
    font-size: 13px;
    font-weight:700;
   text-transform:capitalize;
}
.footer-bottom ul li a:hover{
    color: #e7562e;
}


